<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-lg-9">
      <h5 class="headings">Dashboard</h5>
    </div>
    <div class="col-lg-2">
      <!-- <button class="add">Export Excel</button> -->
    </div>
    <div class="col-lg-1">
      <!-- <button class="add">Print</button> -->
    </div>
  </div><br>
  <div class="card">
   
  <h2 class="text-center" style="color:#120E43">Inventory</h2><br>
    <div class="row">
      <div class="col-lg-3">
        <div class="optionsboxdown" style="cursor: pointer;border-radius: 16px;">
          <label style="color: black;font-size: 30px;color: white;">
            <b style="font-size: 14px;">Total Inventory Items</b>
          </label>
          <br> <br>
          <label style="color: black;font-size: 30px;color: #f17e2d;;">
            <b>
              <u style="font-size: 20px;">40</u>
            </b>
          </label>
        </div><br>
      </div><br><br>
      <div class="col-lg-3">
        <div class="optionsboxdown" style="cursor: pointer;border-radius: 16px;">
          <label style="color: black;font-size: 30px;color: white;">
            <b style="font-size: 14px;">Expiring Inventory</b>
          </label>
          <br> <br>
          <label style="color: black;font-size: 30px;color: #f17e2d;;">
            <b>
              <u style="font-size: 20px;">10</u>
            </b>
          </label>
        </div><br>
      </div><br><br>
      <div class="col-lg-3">
        <div class="optionsboxdown" style="cursor: pointer;border-radius: 16px;">
          <label style="color: black;font-size: 30px;color: white;">
            <b style="font-size: 14px;">Expired Inventory</b>
          </label>
          <br> <br>
          <label style="color: black;font-size: 30px;color: #f17e2d;;">
            <b>
              <u style="font-size: 20px;">5</u>
            </b>
          </label>
        </div><br>
      </div><br><br>
      <div class="col-lg-3">
        <div class="optionsboxdown" style="cursor: pointer;border-radius: 16px;">
          <label style="color: black;font-size: 30px;color: white;">
            <b style="font-size: 14px;">Unused Inventory</b>
          </label>
          <br> <br>
          <label style="color: black;font-size: 30px;color: #f17e2d;;">
            <b>
              <u style="font-size: 20px;">3</u>
            </b>
          </label>
        </div><br>
      </div><br><br>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="optionsboxdown" style="cursor: pointer;border-radius: 16px;">
          <label style="color: black;font-size: 30px;color: white;">
            <b style="font-size: 14px;">Sell Of Inventory</b>
          </label>
          <br> <br>
          <label style="color: black;font-size: 30px;color: #f17e2d;;">
            <b>
              <u style="font-size: 20px;">4</u>
            </b>
          </label>
        </div><br>
      </div><br><br>
      <div class="col-lg-3">
        <div class="optionsboxdown" style="cursor: pointer;border-radius: 16px;">
          <label style="color: black;font-size: 30px;color: white;">
            <b style="font-size: 14px;">Obsolete Inventory</b>
          </label>
          <br> <br>
          <label style="color: black;font-size: 30px;color: #f17e2d;;">
            <b>
              <u style="font-size: 20px;">3</u>
            </b>
          </label>
        </div><br>
      </div><br><br>
      <div class="col-lg-3">
        <div class="optionsboxdown" style="cursor: pointer;border-radius: 16px;">
          <label style="color: black;font-size: 30px;color: white;">
            <b style="font-size: 14px;">Damaged Inventory</b>
          </label>
          <br> <br>
          <label style="color: black;font-size: 30px;color: #f17e2d;;">
            <b>
              <u style="font-size: 20px;">2</u>
            </b>
          </label>
        </div><br>
      </div><br><br>
      <div class="col-lg-3">
        <div class="optionsboxdown" style="cursor: pointer;border-radius: 16px;">
          <label style="color: black;font-size: 30px;color: white;">
            <b style="font-size: 14px;">Total Inventory Cost</b>
          </label>
          <br> <br>
          <label style="color: black;font-size: 30px;color: #f17e2d;;">
            <b>
              <u style="font-size: 20px;">1,000,00 AED</u>
            </b>
          </label>
        </div><br>
      </div><br><br>
    </div>


  </div>

<br>




<div class="card">
  <h2 class="text-center" style="color:#120E43">Consumption</h2><br>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
        <div class="optionsboxdown" style="cursor: pointer;border-radius: 16px;">
          <label style="color: black;font-size: 30px;color: white;">
            <b style="font-size: 14px;">Voucher Request</b>
          </label>
          <br>  <br>
          <label style="color: black;font-size: 30px;color: #f17e2d;;">
            <b>
              <u style="font-size: 20px;">2</u>
            </b>
          </label>
        </div><br>  
      </div><br><br>
      <div class="col-lg-3">
        <div class="optionsboxdown" style="cursor: pointer;border-radius: 16px;">
          <label style="color: black;font-size: 30px;color: white;">
            <b style="font-size: 14px;">Voucher Issued</b>
          </label>
          <br>  <br>
          <label style="color: black;font-size: 30px;color: #f17e2d;;">
            <b>
              <u style="font-size: 20px;" >1</u>
            </b>
          </label>
        </div><br>  
      </div><br><br>
      <div class="col-lg-3">
        <div class="optionsboxdown" style="cursor: pointer;border-radius: 16px;">
          <label style="color: black;font-size: 30px;color: white;">
            <b style="font-size: 14px;">Return Voucher</b>
          </label>
          <br>  <br>
          <label style="color: black;font-size: 30px;color: #f17e2d;;">
            <b>
              <u style="font-size: 20px;" >1</u>
            </b>
          </label>
        </div><br>  
      </div><br><br>
</div>
  </div><br>


  <div class="card">
    <h2 class="text-center" style="color:#120E43">Receivebles</h2><br>

    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-3">
          <div class="optionsboxdown" style="cursor: pointer;border-radius: 16px;">
            <label style="color: black;font-size: 30px;color: white;">
              <b style="font-size: 14px;">Open PO</b>
            </label>
            <br>  <br>
            <label style="color: black;font-size: 30px;color: #f17e2d;;">
              <b>
                <u style="font-size: 20px;">2</u>
              </b>
            </label>
          </div><br>  
        </div><br><br>
        <div class="col-lg-3">
          <div class="optionsboxdown" style="cursor: pointer;border-radius: 16px;">
            <label style="color: black;font-size: 30px;color: white;">
              <b style="font-size: 14px;">Partially Delivered PO</b>
            </label>
            <br>  <br>
            <label style="color: black;font-size: 30px;color: #f17e2d;;">
              <b>
                <u style="font-size: 20px;" >1</u>
              </b>
            </label>
          </div><br>  
        </div><br><br>
        <div class="col-lg-3">
          <div class="optionsboxdown" style="cursor: pointer;border-radius: 16px;">
            <label style="color: black;font-size: 30px;color: white;">
              <b style="font-size: 14px;">Closed PO</b>
            </label>
            <br>  <br>
            <label style="color: black;font-size: 30px;color: #f17e2d;;">
              <b>
                <u style="font-size: 20px;" >1</u>
              </b>
            </label>
          </div><br>  
        </div><br><br>
  </div>
    </div>
 
</div>
<br>