<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 p-4">
            <h5 style="color: white;">STORE INVENTORY</h5>
        </div>
        <div class="col-lg-1">
            <li class="nav-item " >
                <a class="nav-link dropdown-toggle text" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="RoleID=='1'" style="padding: 0px;">
                  Masters
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item"  routerLink="/Admin/CategoryDashboard" >Category</a></li>
                  <li><a class="dropdown-item"  routerLink="/Admin/CategoryDashboard">Category</a></li>
                  <li><a class="dropdown-item"  routerLink="/Admin/SubCategoryDashboard">Sub Category</a></li>
                  <li><a class="dropdown-item"  routerLink="/Admin/ItemDashboard">Item</a></li>
                  <li><a class="dropdown-item"  routerLink="/Admin/VendorDashboard">Vendor</a></li>
                  <li><a class="dropdown-item"  routerLink="/Admin/ProjectCreationDashboard">Project Creation</a></li>
                  <li><a class="dropdown-item"  routerLink="/Admin/AuthorizationDashboard">Authorization</a></li>
                </ul>
              </li>
        </div>
        <div class="col-lg-1">
          <li class="nav-item " >
              <a class="nav-link dropdown-toggle text" href="#" id="managelogin" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="RoleID=='1'"  style="padding: 0px;">
               Manage Logins
              </a>
              <ul class="dropdown-menu"  aria-labelledby="managelogin">
                <li><a class="dropdown-item"  routerLink="/Admin/VendorLoginDashboard">Vendor</a></li>
                <li><a class="dropdown-item"  routerLink="/Admin/AuthorizationLoginDashboard">Authorization</a></li>
              </ul>
            </li>
      </div>
      <div class="col-lg-7"></div>
        <div class="col-lg-1 p-4">
            <h5 style="color: white;" (click)="logout()">Logout</h5>
        </div>

    </div>
</div>