<div class="container-fluid">
    <div class="row">
      <div class="col-lg-1 p-3">
        <img class="image" src="../../../assets/images/android-icon-72x72.png">&nbsp;
      </div>
        <!-- <div class="col-lg-2 p-4">
            <h5 style="color: white;">DIGI INVENTORY</h5>
        </div> -->
        <div class="col-lg-1">
            <li class="nav-item " >
                <a class="nav-link dropdown-toggle text" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="RoleID=='1'" style="padding: 0px;">
                  Masters
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item"  routerLink="/Admin/CategoryDashboard" >Category</a></li>
                  <!-- <li><a class="dropdown-item"  routerLink="/Admin/SubCategoryDashboard">Sub Category</a></li> -->
                  <li><a class="dropdown-item"  routerLink="/Admin/ItemDashboard">Item</a></li>
                  <li><a class="dropdown-item"  routerLink="/Admin/VendorDashboard">Vendor</a></li>
                  <li><a class="dropdown-item"  routerLink="/Admin/ProjectCreationDashboard">Project Creation</a></li>
                  <li><a class="dropdown-item"  routerLink="/Admin/AuthorizationDashboard">Authorization</a></li>
                </ul>
              </li>
        </div>
        <div class="col-lg-1">
          <li class="nav-item " *ngIf="RoleID=='1'" >
              <a class="nav-link dropdown-toggle text" href="#" id="managelogin" role="button" data-bs-toggle="dropdown" aria-expanded="false"  style="padding: 0px;">
               Manage Logins
              </a>
              <ul class="dropdown-menu"  aria-labelledby="managelogin">
                <li><a class="dropdown-item"  routerLink="/Admin/VendorLoginDashboard">Vendor</a></li>
                <li><a class="dropdown-item"  routerLink="/Admin/AuthorizationLoginDashboard">Authorization</a></li>
              </ul>
            </li>


            <li class="nav-item " *ngIf="RoleID=='4'">
              <a class="nav-link dropdown-toggle text" href="#" id="inventory" role="button" data-bs-toggle="dropdown" aria-expanded="false"   style="padding: 0px;">
             Inventory
              </a>
              <ul class="dropdown-menu"  aria-labelledby="inventory">
                <li><a class="dropdown-item"  routerLink="/projectCordinator/AddPoDash">Receive Indent</a></li>
                <li><a class="dropdown-item"  routerLink="/projectCordinator/Inventory">Inventory</a></li>
              </ul>
            </li>

            <li class="nav-item " *ngIf="RoleID=='6'">
              <a class="nav-link dropdown-toggle text" href="#" id="ProMan" role="button" data-bs-toggle="dropdown" aria-expanded="false"   style="padding: 0px;">
             Project Manager
              </a>
              <ul class="dropdown-menu"  aria-labelledby="ProMan">
                <li><a class="dropdown-item"  routerLink="/ProjectManager/ProjectMenu">Project Menu</a></li>
                <li><a class="dropdown-item"  routerLink="/ProjectManager/ProjectPO">Project PO</a></li>
                <li><a class="dropdown-item"  routerLink="/ProjectManager/MaterialStatusReport">Material Status Report</a></li>
                <li><a class="dropdown-item"  routerLink="/ProjectManager/ReturnInventory">Return Inventory</a></li>
              </ul>
            </li>
      </div>
      
      <div class="col-lg-8"></div>
        <div class="col-lg-1 p-4">
            <h5 style="color: white;" (click)="logout()">Logout</h5>
        </div>

    </div>
</div>