.inputfield{
    border-radius: 12px;
    height: 46px;
  }
  .floatingLabel{
    line-height: 0px;
  }

  .save1{
    border-radius: 10px;
    background-color: #51E1ED !important;
    color: #fff;
    border: 2px solid #51E1ED !important;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    min-width: 80px;
    border-radius: 12px;

}

.title{
  text-align: center;
}