<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-lg-10">
            <h5 class="headings">Authorization Login Dashboard</h5>
        </div>
        <div class="col-lg-2">
            <button class="add" routerLink="/Admin/AuthorizationDetails">Add</button>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="row ">
            <div class="col-lg-12 tableoverflow">
                <table class="table table-hover">
                    <tr>
                       <th>Authorization Name</th>
                       <th>Deaprtment</th>
                       <th>User Name</th>
                       <th>Password</th>
                       <th>Actions</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


