<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-lg-12">
            <h5 class="headings">Item Master</h5>
        </div>
        <div class="col-lg-8"></div>
    </div>
    <br>
    <div class="card">
        <div class="row">
            <div class="col-lg-3 margin">
                <select class="form-control" (change)="GetCategortID($event)" [(ngModel)]="categoryid" >
                    <option value="0">Select Category</option>
                    <option *ngFor="let details of categorylist" value="{{details.id}}">{{details.categoryName}}</option>
                </select>
            </div>
            <div class="col-lg-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Item NUmber" 
                    [(ngModel)]="itemNumber" name="itemNumber">
                    <label for="floatingInput" class="floatingLabel">Item Number</label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Item Name"
                    [(ngModel)]="itemName" name="itemName">
                    <label for="floatingInput" class="floatingLabel">Item Name</label>
                </div>
            </div>
            <div class="col-lg-3 margin">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Item Name"
                    [(ngModel)]="unit" name="unit">
                    <label for="floatingInput" class="floatingLabel">Unit</label>
                </div>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Make"
                    [(ngModel)]="make" name="make">
                    <label for="floatingInput" class="floatingLabel">Make</label>
                </div>
            </div>
            <div class="col-lg-3 margin">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                     [(ngModel)]="description"   name="description"></textarea>
                    <label for="floatingTextarea">Item Description</label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                      [(ngModel)]="price"  name="price"></textarea>
                    <label for="floatingTextarea">Price</label>
                </div>
            </div>
            <!-- <div class="col-lg-3">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                        name="description"></textarea>
                    <label for="floatingTextarea">JIC PO NO</label>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-1">
                <button type="button" class="save" (click)="insertdetails()" *ngIf="id==undefined">Save</button>
                <button type="button" class="save" (click)="updatedetails()" *ngIf="id!=undefined">Update</button>
            </div>
            <div class="col-lg-1">
                <button type="button" class="save" routerLink="/Admin/ItemDashboard">Back</button>
            </div>
        </div>
        <br>
    </div>
    <br>
</div>