
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-lg-12">
            <h5 class="headings">Project Creation Master</h5>
        </div>
        <div class="col-lg-8"></div>
    </div>
    <br>
    <div class="card">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Category Code">
                    <label for="floatingInput" class="floatingLabel">Project Name</label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Category Code">
                    <label for="floatingInput" class="floatingLabel">Project Number</label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control inputfield" id="floatingInput" placeholder="Category Code">
                    <label for="floatingInput" class="floatingLabel">Client Name</label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                        name="description"></textarea>
                    <label for="floatingTextarea">Description</label>
                </div>
            </div>
            
        </div> <br>
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-1">
                <button type="button" class="save">Save</button>
            </div>
            <div class="col-lg-1">
                <button type="button" class="save" routerLink="/Admin/ProjectCreationDashboard">Back</button>
            </div>
        </div>
        <br>
    </div>
    <br>
</div>
