<div class="container-fluid bg">
    <br>
    <br><br><br><br>
    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4 card">
            <h4 class="text-center">STORE INVENTORY</h4>
            <br>  
            <div style="background-color: white;">
             
                <form>
                    <div>
                        <select class="form-control" (change)="getRoleID($event)">
                            <option value="0">Select Role</option>
                            <option value="1">Admin</option>
                            <option value="2">Purchase Manager</option>
                            <option value="3">Approver</option>
                            <option value="4">Store Manager</option>
                            <option value="5">Ware House</option>
                            <option value="6">Project Manager</option>
                        </select>
                    </div>
                    <br>
                    <div class="mb-3">
                        <input type="email" id="form2Example1" class="form-control" placeholder="User Name"/>
                        <!-- <label class="form-label" for="form2Example1">Email address</label> -->
                    </div>
                    <div class="mb-3">
                        <input type="password" id="form2Example2" class="form-control" placeholder="Password" />
                        <!-- <label class="form-label" for="form2Example2">Password</label> -->
                    </div>
                    <!-- <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                    <br>
                    <div class="text-center">
                        <button type="submit" class="login text-center" (click)="login()">Login</button>
                    </div>
                   
                </form>
            </div>

        </div>
        <div class="col-lg-4"></div>
    </div>

</div>