<div class="container-fluid bg">
    <div class="row">
        <div class="col-lg-8">

        </div>
        <div class="col-lg-4">
            <br><br><br>

            <div style="background-color: white;">

                <form>
                    <div>
                        <select class="form-control" (change)="getRoleID($event)">
                            <option value="0">Select Role</option>
                            <option value="1">Admin</option>
                            <option value="2">Project Co-ordinator</option>
                            <option value="3">Approver</option>
                            <option value="4">Store Manager</option>
                            <option value="5">Ware House</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="login()">Submit</button>
                </form>
            </div>

        </div>
    </div>

</div>