<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-lg-10">
            <h5 class="headings">Authorization Dashboard</h5>
        </div>
        <div class="col-lg-2">
            <button class="add" routerLink="/Admin/AuthorizationMaster">Add</button>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="row ">
            <div class="col-lg-12 tableoverflow">
                <table class="table table-hover">
                    <tr>
                        <th>Authorization Code</th>
                        <th>Authorization Name</th>
                        <th>Department</th>
                        <th>Email ID</th>
                        <th>Phone Number</th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                        <td>00103</td>
                        <td>Chris Watson</td>
                        <td>Admin</td>
                        <td>GPerkins@topsmarkets.com</td>
                        <td>716-6355830</td>
                        <td>
                            <button class="save1">Edit</button>
                        </td>
                    </tr>
                    <tr>
                        <td>00102</td>
                        <td>Gisela Perkins</td>
                        <td>Admin</td>
                        <td>CWatson@topsmarkets.com</td>
                        <td>716-635-5315</td>
                        <td>
                            <button class="save1">Edit</button>
                        </td>
                    </tr>
                    <tr>
                        <td>00101</td>
                        <td>Kim Judd</td>
                        <td>Admin</td>
                        <td>KJudd@topsmarkets.com</td>
                        <td>716-6355820</td>
                        <td>
                            <button class="save1">Edit</button>
                        </td>
                    </tr>
                    <tr>
                        <td>00100</td>
                        <td>Judy Koska</td>
                        <td>Admin</td>
                        <td>JKoska@topsmarkets.com</td>
                        <td>716-635-5821</td>
                        <td>
                            <button class="save1">Edit</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

