.headings {
    height: 15px;
    left: 221px;
    top: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #322b6b;
    margin-top: 10px
}

.add {
    border-radius: 10px;
    background-color: #EDC126;
    color: #fff;
    border: 2px solid #EDC126;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    float: right;
    min-width: 80px;
    border-radius: 12px;
}


table {
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
}



th {
    background-color: #120E43;
    color: white;
    text-align: left;
    padding: 10px;
    /* border: 1px solid #dddddd; 
     border: 1px solid gray; */
}


.tabletext {
    height: 17px;
    left: 17.5%;
    right: 76.67%;
    top: 331px;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    color: black;
}


th {
    background-color: #120E43;
    color: white;
    text-align: center;
    padding: 10px;
}

th:first-of-type {
    border-top-left-radius: 10px;
}

th:last-of-type {
    border-top-right-radius: 10px;
}

tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}

tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;

}

table,
tr {
    border: none !important;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    /* line-height: 17px;        */
    color: #0C275A;
}

tr:nth-child(odd) {

    background-color: #FFFFFF
}

tr:nth-child(even) {
    background-color: #F2F2F2
}