<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-lg-10">
            <h5 class="headings">Project creation Dashboard</h5>
        </div>
        <div class="col-lg-2">
            <button class="add" routerLink="/Admin/ProjectCreationMaster">Add</button>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="row ">
            <div class="col-lg-12 tableoverflow">
                <table class="table table-hover">
                    <tr>
                        <th>Project Number</th>
                        <th>Project Name</th>
                        <th>Client Name </th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                        <td>001121</td>
                        <td>EPC For Permanent Power Supply for JEBEL DHANA PUMPING STATION</td>
                        <td>Haripriya Anoop</td>
                        <td>PB-SPRING RTN,RED-INC-XB7NA42</td>
                        <td>
                            <button class="save1">Edit</button>
                        </td>
                    </tr>
                    <tr>
                        <td>001122</td>
                        <td>Combined-cycle gas turbine (CCGT) power plant</td>
                        <td>Hussain</td>
                        <td>Combined-cycle power plant,Capacity 1.7GW</td>
                        <td><button class="save1">Edit</button></td>
                    </tr>
                    <tr>
                        <td>001123</td>
                        <td>Integrated solar and wind power generation</td>
                        <td>Mr.John</td>
                        <td>The Morocco-UK power project is expected to supply 3.6GW of clean energy from Morocco to the UK.</td>
                        <td><button class="save1">Edit</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
