<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-lg-9">
            <h5 class="headings">Category Dashboard</h5>
        </div>
        <div class="col-lg-2">
            <button class="add" routerLink="/Admin/CategoryMaster">Add</button>
        </div>
        <div class="col-lg-1">
            <button class="add">Print</button>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="row">
            <div class="col-lg-12 tableoverflow">
                <table class="table table-hover">
                    <tr>
                        <th>Category Code</th>
                        <th>Category Name</th>
                        <th>Category Description</th>
                        <th>Actions</th>
                    </tr>
                    <tr *ngFor="let details of categorylist">
                        <td>{{details.categoryCode}}</td>
                        <td>{{details.categoryName}}</td>
                        <td>{{details.description}}</td>
                        <td>
                          <button class="save" (click)="edit(details.id)">Edit</button>&nbsp;&nbsp;
                          <button class="save" (click)="delete(details.id)">Delete</button>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>001</td>
                        <td>Electric</td>
                        <td>This is the most common type of transformer, widely used in electric power transmission and
                            appliances to convert mains voltage to low voltage to power electronic devices. They are
                            available in power ratings ranging from mW to MW. The insulated laminations minimizes eddy
                            current losses in the iron core</td>
                        <td>
                            <button class="save1">Edit</button><br> &nbsp;
                            <button class="save1">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>002</td>
                        <td>Electronic</td>
                        <td>Instrument transformers are typically used to operate instruments from high voltage lines or
                            high current circuits, safely isolating measurement and control circuitry from the high
                            voltages or currents. The primary winding of the transformer is connected to the high
                            voltage or high current circuit, and the meter or relay is connected to the secondary
                            circuit.</td>
                        <td>
                            <button class="save1">Edit</button><br> &nbsp;
                            <button class="save1">Delete</button>
                        </td>
                    </tr> -->
                </table>
            </div>
        </div>
    </div>

</div>